<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GWScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4583D221E34EF1600D2D7A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4583D3B1E34EF1600D2D7A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4583D461E34EF1600D2D7A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
